* {
    box-sizing: border-box;
}

nav {
    ul {
        list-style: none;
        display: flex;

        li {
            padding: 8px;
        }

        span.auth {
            display: flex;
            // padding: 8px;
            float: right;
        }
        
    }
}

