$primary-color: #062d5e;


div.register {
    text-align: center;
    padding: 24px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid $primary-color;
    border-radius: 16px;
    padding: 40px;
    width: 80vw;
    height: 90vh;
    

        h1 {
            margin-top: 24px;
        }

        form {
            padding: 24px;
            display: grid;
        }

        label {
            padding: 8px;
        }

        input {
            margin: 8px;
            width: 20vw;
            outline: none;
            border-radius: 5px;
        }

        button {
            padding: 3px;
            border-radius: 10px;
            width: 16vw;
            margin-top: 8px;
            text-align: center;
            justify-self: center;
            outline: none;
            font-size: 12px;
            font-weight: 500;
            background-color: darkgoldenrod;
            color: white;
        }
}